################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode/*
/bin
/obj


/src/**/*.js
/src/**/*.js.map
/src/**/*.js
/src/**/*.js.map
aot/
node_modules/

/VenUse.Common/obj
/VenUse.Common/bin
/VenUse.Web/node_modules
/VenUse.WebAPI/bin
/VenUse.WebAPI/obj
/VenUse.Web/bin
/VenUse.Web/obj
/VenUse.Data/bin
/VenUse.Data/obj
/VenUse.Model/bin
/VenUse.Model/obj
/VenUse.Repository/bin
/VenUse.Repository/obj
/VenUse.Service/bin
/VenUse.Service/obj
/VenUse.Web/aot
/VenUse.Web/Properties/PublishProfiles
/VenUse.Web/VenUse.Web.zip
/VenUse.Web/VenUse.Web.SourceManifest.xml
/VenUse.Web/VenUse.Web.SetParameters.xml
/VenUse.Web/VenUse.Web.Parameters.xml
/VenUse.Web/VenUse.Web.deploy.cmd
/VenUse.Web/VenUse.Web.deploy-readme.txt
/VenUse.Web/app/**/*.js
/VenUse.Web/app/**/*.js.map
/VenUse.Web/core-module/**/*.js
/VenUse.Web/core-module/**/*.js.map
aot/
/VenUse.Web/npm-debug.log
/VenUse.WebAPI/web.config
/VenUse.Scheduler/obj
/VenUse.Scheduler/bin
/VenUse.Scheduler/bin/Debug
/Tests/VenUse.WebAPI.Test/bin/Debug/netcoreapp2.0
/Tests/VenUse.WebAPI.Test/obj
