################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode/*
/bin
/obj


/src/**/*.js
/src/**/*.js.map
/src/**/*.js
/src/**/*.js.map
aot/
node_modules/

/bin
/obj

/Demo.Common/obj
/Demo.Common/bin
/npm-debug.log
/web.config

